In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm

In [19]:
df = pd.read_csv('data/bmd.csv')

In [20]:
print(f'Number of null values in the dataset: {df.isnull().values.any().sum()}')
print(f'Number of duplicated rows: {df.duplicated().sum()}')

Number of null values in the dataset: 0
Number of duplicated rows: 0

In [21]:
df.head()

,id,age,sex,fracture,weight_kg,height_cm,medication,waiting_time,bmd
0,469,57.052768,F,no fracture,64.0,155.5,Anticonvulsant,18,0.8793
1,8724,75.741225,F,no fracture,78.0,162.0,No medication,56,0.7946
2,6736,70.778900,M,no fracture,73.0,170.5,No medication,10,0.9067
3,24180,78.247175,F,no fracture,60.0,148.0,No medication,14,0.7112
4,17072,54.191877,M,no fracture,55.0,161.0,No medication,20,0.7909

In [23]:
fracture = pd.get_dummies(df['fracture'])
df = df.join(fracture, rsuffix='_')

In [26]:
df['sex'].replace({'F': 1, 'M': 0}, inplace=True)

In [30]:
medication = pd.get_dummies(df['medication'])
df = df.join(medication)

In [32]:
df = df.drop(['fracture', 'medication'], axis=1)

In [33]:
df

,id,age,sex,weight_kg,height_cm,waiting_time,bmd,fracture_,no fracture,Anticonvulsant,Glucocorticoids,No medication
0,469,57.052768,1,64.0,155.5,18,0.8793,0,1,1,0,0
1,8724,75.741225,1,78.0,162.0,56,0.7946,0,1,0,0,1
2,6736,70.778900,0,73.0,170.5,10,0.9067,0,1,0,0,1
3,24180,78.247175,1,60.0,148.0,14,0.7112,0,1,0,0,1
4,17072,54.191877,0,55.0,161.0,20,0.7909,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
164,21892,77.982543,0,74.0,164.0,49,0.7941,1,0,0,0,1
165,24140,50.285303,1,59.0,161.0,6,0.7971,1,0,0,0,1
166,6969,46.359721,0,67.0,169.0,10,0.8037,1,0,0,0,1
167,5505,54.788368,0,70.0,166.0,14,0.8072,1,0,0,0,1
168,71,69.994822,1,68.5,165.0,25,0.8664,1,0,0,0,1

In [36]:
X_columns = ['id', 'age', 'sex', 'weight_kg', 'height_cm', 'waiting_time', 
             'fracture_', 'no fracture', 'Anticonvulsant', 'Glucocorticoids',
             'No medication']

y_columns = ['bmd']

In [37]:
X = df[X_columns]
y = df[y_columns]

In [38]:
model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    bmd   R-squared:                       0.575
Model:                            OLS   Adj. R-squared:                  0.551
Method:                 Least Squares   F-statistic:                     23.87
Date:                Wed, 28 Feb 2024   Prob (F-statistic):           1.92e-25
Time:                        23:45:08   Log-Likelihood:                 135.89
No. Observations:                 169   AIC:                            -251.8
Df Residuals:                     159   BIC:                            -220.5
Df Model:                           9
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
id              -7.771e-07   1.02e-06     -0.762      0.447   -2.79e-06    1.24e-06
age                -0.0014      0.001     -1.809      0.072      -0.003       0.000
sex                -0.0302      0.025     -1.221      0.224      -0.079       0.019
weight_kg           0.0047      0.001      5.398      0.000       0.003       0.006
height_cm           0.0015      0.002      0.900      0.370      -0.002       0.005
waiting_time       -0.0011      0.001     -2.032      0.044      -0.002   -3.14e-05
fracture_           0.1090      0.170      0.640      0.523      -0.227       0.445
no fracture         0.2764      0.169      1.632      0.105      -0.058       0.611
Anticonvulsant      0.1248      0.123      1.014      0.312      -0.118       0.368
Glucocorticoids     0.1092      0.109      0.999      0.319      -0.107       0.325
No medication       0.1514      0.113      1.345      0.180      -0.071       0.374
==============================================================================
Omnibus:                       14.336   Durbin-Watson:                   1.783
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               27.280
Skew:                           0.383   Prob(JB):                     1.19e-06
Kurtosis:                       4.813   Cond. No.                     1.29e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.62e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.